RewriteEngine On

# Evita conflito se o arquivo ou pasta existir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rota de projetos
RewriteRule ^projeto/([a-zA-Z0-9_-]+)$ projeto.php?slug=$1 [L,QSA]
