RewriteEngine On

# Base do projeto
RewriteBase /Portifolio/

# Página inicial
RewriteRule ^$ index.php [L]

# Página de projetos
RewriteRule ^projeto/([a-zA-Z0-9_-]+)$ projeto.php?slug=$1 [L,QSA]

# Política de Privacidade
RewriteRule ^privacy/?$ privacy.php [L]

# Termos de Uso
RewriteRule ^terms/?$ terms.php [L]
